<div class="menu-footer">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a href="https://www.linkedin.com/in/ivan-villarrubia/" target="_blank" alt="Linkedin" title="Linkedin"><i
          class="fab fa-linkedin-in"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com/toximosi.designer/" target="_blank" alt="instagram" title="instagram"><i
          class="fab fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://toximosi.es/" target="_blank" alt="Portfolio Diseñador Grafico"
        title="Portfolio Diseñador Grafico"><span class="material-icons">
          child_care
        </span></a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/toximosi" target="_blank" alt="github" title="github" target="_blanck"><i
          class="fab fa-github-alt"></i></a>
    </li>
    <li class="nav-item">
      <a href="https://lostthing.toximosi.es" target="_blank" alt="Proyecto fin master Full Stack"
        title="Proyecto fin master Full Stack"><span class="material-icons">
          psychology
        </span></a>
    </li>
  </ul>
</div>
