<!-- <p>detalle works!</p>
<p>listado works!</p>
<div class="container">
  <div class="row">
    <div class="buscador col-12">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile"><i class="fas fa-search"></i> Buscar</label>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let pelis of listaImdb">
      <div class="card h-100">

        <div class="tipo">
          <div *ngIf="pelis.Type == 'movie'">
            pelicula



  {{pelis.imdbRating}}

    {{pelis.Plot}}


<div class="card-body">
  <h5 class="card-title">{{pelis.Title}}</h5>
  <p class="card-text">{{pelis.Type}} - {{pelis.imdbID}}<br>
    - {{pelis.Actors}}<br>
    - {{pelis.Awards}}<br>
    - {{pelis.BoxOffice}}<br>
    - {{pelis.Country}}<br>
    - {{pelis.DVD}}<br>
    - {{pelis.Director}}<br>
    - {{pelis.Genre}}<br>
    - {{pelis.Language}}<br>
    - {{pelis.Metascore}}<br>
    - <br>

    {{pelis.Production}}<br>
    {{pelis.Rated}}</p>
  <p *ngFor="let ratings of pelis.Ratings">- Ratings:<br>
    {{ratings.Source}}
    {{ratings.Value}}
  </p>
  <p>- {{pelis.Released}}<br>
    - {{pelis.Response}}<br>
    - {{pelis.Runtime}}<br>

    - <br>
    - {{pelis.Website}}<br>
    - {{pelis.Writer}}<br>
    - {{pelis.Year}}<br>
    - {{pelis.imdbID}}<br>
    - {{pelis.imdbRating}}<br>
    - {{pelis.imdbVotes}}<br>
  </p>
  <a href="#" class="btn btn-primary">ver detalle</a>
</div>
</div>
</div>
</div>
</div>
-->
