// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pelis-primary: mat-palette($mat-indigo);
$pelis-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pelis-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pelis-theme: mat-light-theme($pelis-primary, $pelis-accent, $pelis-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pelis-theme);

/* You can add global styles to this file, and also import other style files */
//ROBOTO FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//INFO FONT
/* font-family: 'Roboto',
sans-serif;
font-family: 'Roboto Condensed',
sans-serif;
font-family: 'Roboto Mono',
monospace; */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  line-height: 1.2rem;
}



/* variables y funciones ScSS*/
@import "src/assets/scss/variables";
@import "src/assets/scss/mixin";

//cambios en bootstrap
@import "src/assets/scss/bootstrap";

/* estilos generales*/
@import "src/assets/scss/texto";
@import "src/assets/scss/animation";
@import "src/assets/scss/layout";
